
## SF Salaries Exercise 


For this exercise, you will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!. You can also used the SF Salaries Dataset on D2L to answer the questions. Please download the "Salaries.csv" file from kaggle or D2L and complete the below exercises. Please submit the completed jupyter notebook file to D2L.

**Exercise 1**

**Import pandas as pd.**

In [2]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [3]:
salary_df = pd.read_csv('Salaries.csv')

**Check the head of the DataFrame.**

In [4]:
salary_df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Exercise 2 - Use the .info() method to find out how many entries there are.**

In [5]:
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Exercise 3 - What is the average BasePay ?**

In [6]:
base_pay = salary_df['BasePay']

print('Avg. Base pay: ', base_pay.mean())

Avg. Base pay:  66325.4488404877

**Exercise 4 - What is the highest amount of OvertimePay in the dataset ?**

In [7]:
overtime_pay = salary_df['OvertimePay'].max()

print('Highest overtime: ', overtime_pay)

Highest overtime:  245131.88

**Exercise 5 - What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [8]:
joseph = salary_df[salary_df['EmployeeName'] == 'JOSEPH DRISCOLL']

joseph

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [9]:
joseph['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**Exercise 6 - How much does JOSEPH DRISCOLL make (including benefits)?**

In [10]:
joseph['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**Exercise 7 - What is the name of highest paid person (including benefits)?**

In [19]:
salary_df[salary_df['TotalPayBenefits'] == salary_df['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**Exercise 8 - What is the name of lowest paid person (including benefits)?**

In [18]:
salary_df[salary_df['TotalPayBenefits'] == salary_df['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

**Exercise 9 - What was the average (mean) BasePay of all employees per year? (2011-2014)?**

In [21]:
new_salary_df = salary_df.loc[(salary_df['Year'] >= 2011) & (salary_df['Year'] <= 2014)]

new_salary_df['BasePay'].mean()

66325.4488404877

**Exercise 10 - How many unique job titles are there?**

In [26]:
salary_df['JobTitle'].nunique()

2159

**Exercise 11 - What are the top 5 most common jobs?**

In [34]:
salary_df['JobTitle'].value_counts().nlargest(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

**Exercise 12 - How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [44]:
salary_df.loc[(salary_df['Year'] == 2013)]['JobTitle'].value_counts().nsmallest().count()

5

**Exercise 13: Is there a correlation between length of the Job Title string and Salary?**

In [45]:
salary_df['titleLength'] = salary_df['JobTitle'].apply(len)

salary_df[['titleLength', 'TotalPayBenefits']].corr()

                  titleLength  TotalPayBenefits
titleLength          1.000000         -0.036878
TotalPayBenefits    -0.036878          1.000000