In [2]:
#pd.options.display.float_format = '{:.0f}'.format

# Lab08 - Practice Pandas
# Ecommerce Purchases Exercise

 In this Exercise, you will be given some Fake Data about some purchases done through Amazon! Please download the `ecom_data.csv` from the labs module on D2L. Most of the tasks can be solved in different ways. 
 

**Import pandas and read in the ecom_data.csv file and set it to a DataFrame called ecom.**

In [2]:
import pandas as pd

ecom_df = pd.read_csv('ecom_data.csv')

**Check the head of the DataFrame.**

In [3]:
ecom_df.head()

,Unnamed: 0,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

**How many rows and columns are there?**

In [6]:
print('Row Count: ', len(ecom_df.index), ', Column Count: ', len(ecom_df.columns))

Row Count:  10000 , Column Count:  15

**What is the average Purchase Price?**

In [7]:
purchase_price = ecom_df['Purchase Price']

print('Avg Purchase Price: ', purchase_price.mean())

50.347302

**What were the highest and lowest purchase prices?**

In [8]:
print('Highest Purchase Price: ', purchase_price.max(), 'Lowest Purchase Price: ', purchase_price.min())

Highest Purchase Price:  99.99 Lowest Purchase Price:  0.0

**How many people have English 'en' as their Language of choice on the website?**

In [14]:
ecom_df['Language'][ecom_df['Language'] == 'en'].count()

1098

**How many people have the job title of "Lawyer"?**

In [16]:
ecom_df['Job'][ecom_df['Job'] == 'Lawyer'].count()

30

**How many people made the purchase during the AM and how many people made the purchase during PM?**

In [21]:
AM_count = ecom_df['AM or PM'][ecom_df['AM or PM'] == 'AM'].count()

PM_count = ecom_df['AM or PM'][ecom_df['AM or PM'] == 'PM'].count()

print('AM Count:', AM_count, ', PM Count:', PM_count)

AM Count: 4932 , PM Count: 5068

**What are the 5 most common Job Titles?**

In [25]:
ecom_df['Job'].value_counts().nlargest(5)

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

**Someone made a purchase that came from Lot: "90 WT", what was the Purchase Price for this transaction?**

In [31]:
ecom_df[ecom_df['Lot'] == '90 WT'][['Lot', 'Purchase Price']]

       Lot  Purchase Price
513  90 WT            75.1

**What is the email of the person with the following Credit Card Number: 4926535242672853**

In [34]:
ecom_df[ecom_df['Credit Card'] == 4926535242672853][['Credit Card', 'Email']]

           Credit Card                         Email
1234  4926535242672853  bondellen@williams-garza.com

**How many people have American Express as their Credit Card Provider *and* made a purchase above $95?**

In [52]:
# ecom_df[(ecom_df['CC Provider'] == 'American Express') & (ecom_df['Purchase Price'] > 95)]['Unnamed: 0'].count()

len(ecom_df[(ecom_df['CC Provider'] == 'American Express') & (ecom_df['Purchase Price'] > 95)])

39