In [2]:
import pandas as pd
import numpy as np

In [5]:
data = {
    'key1': ['a', 'a', 'b', 'b', 'a'],
    'key2': ['one', 'two', 'one', 'two', 'one'],
    'data1': np.random.randn(5),
    'data2': np.random.randn(5)
}

df = pd.DataFrame(data)
df

  key1 key2     data1     data2
0    a  one  0.402803 -2.472967
1    a  two -1.572609  0.686883
2    b  one -0.212442  1.493260
3    b  two -0.009815  0.936512
4    a  one -0.698385  2.466954

In [13]:
group1 = df.groupby('key1').sum()
group1

           key2     data1     data2
key1
a     onetwoone -1.868192  0.680870
b        onetwo -0.222257  2.429772

In [14]:
group2 = df.groupby('key2').sum()
group2

     key1     data1     data2
key2
one   aba -0.508024  1.487247
two    ab -1.582424  1.623395

In [16]:
num_df = df[['data1', 'data2']]
num_df

      data1     data2
0  0.402803 -2.472967
1 -1.572609  0.686883
2 -0.212442  1.493260
3 -0.009815  0.936512
4 -0.698385  2.466954

In [19]:
num_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
data1,5.0,-0.418090,0.757352,-1.572609,-0.698385,-0.212442,-0.009815,0.402803
data2,5.0,0.622128,1.860437,-2.472967,0.686883,0.936512,1.493260,2.466954

In [ ]:
fruit_salad = {
    "name": ["apple", "banana", "cantaloupe", "dragon-fruit", "elderberry", "fig", "guava", "huckleberry", "kiwi",
             "lemon"],
    "colour": ["red", "yellow", "orange", "magenta", "purple", "purple", "green", "blue", "brown", "yellow"],
    "location": ["canada", "mexico", "spain", 'china', 'austria', 'turkey', 'mexico', 'canada', 'china', 'mexico'],
    'seed': [True, False, True, True, False, False, True, True, True, False],
    'shape': ['round', 'long', 'round', 'round', 'round', 'oval', 'oval', 'round', 'round', 'oval'],
    'sweetness': [True, True, True, False, True, False, True, True, True, False],
    'water-content': [84, 75, 90, 96, 80, 78, 83, 73, 80, 83], "weight": [100, 120, 1360, 600, 5, 40, 450, 5, 76, 65]
}