<h1 align=center><font size = 5>Lab04</font></h1>
<h1 align=center><font size = 4>Python Basics </font></h1>

### Exercise 1

Given a Python dictionary, Change Bradâ€™s salary to 8500

In [2]:
my_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
}

my_dict['emp3']['salary'] = 8500
my_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

### Exercise 2

 Access the value of key 'history'

In [3]:
my_dict1 = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

my_dict1['class']['student']['marks']['history']

80

### Exercise 3

Copy element 44 and 55 from the following tuple into a new tuple

In [9]:
tuple1 = (11, 22, 33, 44, 55, 66)

new_tuple = (tuple1[3], tuple1[4])
new_tuple

(44, 55)

### Exercise 4

Add a list of elements to a given set - order is not a concern in set

In [10]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]

sampleSet.update(sampleList)
sampleSet

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

### Exercise 5

Access value 20 from the following tuple

In [11]:
tuple2 = ("Orange", [10, 20, 30], (5, 15, 25))

tuple2[1][1]

20

### Exercise 6

Modify the first item (32) of a list inside a following tuple to 322.

In [12]:
tuple3 = (11, [32, 33], 44, 55)

tuple3[1][0] = 322
tuple3

(11, [322, 33], 44, 55)

### Exercise 7

Write a Python program to sum all the values in the below dictionary with all the values in the list.

In [18]:
my_dict2 = {'data1': 100, 'data2': -54, 'data3': 247}
my_list = [100, 200]


def sum_dict_to_list(dict_values, list):
    dictionary_sum = 0
    new_list = []

    for i in dict_values:
        dictionary_sum = dictionary_sum + i

    for j in list:
        new_list.append(j + dictionary_sum)

    return new_list


sum_dict_to_list(my_dict2.values(), my_list)

[393, 493]

###  Exercise 8

1 - Python has two built-in methods that you can use on tuples. Conduct your research. What are those methods? Provide one example for each method.

count: Returns the number of times a specified value occurs in a tuple. 
Eg:
    tuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
    tuple.count(5)
Ans: 5

index: Searches the tuple for a specified value and returns the position of where it was found.
Eg:
    tuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
    tuple.index(8)
Ans: 3

2- Dictionary has a built-in method called `Update()`. Learn about this method and provide one example.

Insert an item to the dictionary
Eg: 
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"color": "White"})
car

Ans: {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "color": "White"
}

3- Given the following dictionary

```
my_dict = {
  "name": "Kelly",
  "age":25,
  "salary": [3000, 8000, 2000],
  "cities": ["Vancouver", "New York", "Toronto"]
}
```

- Add a key to the dictionary called "countries".

- Set the value of countries to be a list consisting of the strings "Canada", "USA".

- Sort the items in the list stored under 'salary' key (ascending order)

- Remove "Vancouver" from the list of items stored under the "cities" key.

- Add 1000 to the first number stored under the 'salary' key. Expected output for the salary key: `"salary": [3000, 3000, 8000]`

In [19]:
my_dict3 = {
    "name": "Kelly",
    "age": 25,
    "salary": [3000, 8000, 2000],
    "cities": ["Vancouver", "New York", "Toronto"]
}

my_dict3['countries'] = ['Canada', 'USA']

my_dict3['salary'].sort()

my_dict3['cities'].remove('Vancouver')

my_dict3['salary'][0] = my_dict3['salary'][0] + 1000

my_dict3

{'name': 'Kelly',
 'age': 25,
 'salary': [3000, 3000, 8000],
 'cities': ['New York', 'Toronto'],
 'countries': ['Canada', 'USA']}

### Exercise 9

Create two sets, one with odd numbers from 0 to 10 and the other with even numbers from 0 to 10. Find the union and intersection of these sets.

In [21]:
odd_set = {1, 3, 5, 7, 9}
even_set = {2, 4, 6, 8, 10}

print('Union:', odd_set.union(even_set))
print('Intersection:', odd_set.intersection(even_set))

Union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection: set()

Given a list of numbers, create a set with all the unique elements in the list.

In [22]:
repeating_list = [1, 1, 2, 2, 3, 3]

set(repeating_list)

{1, 2, 3}

Find the difference between two sets, set1 and set2, where set1 contains all the elements in a given list and set2 contains all the elements in another given list.

`list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]`

In [23]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

set1 = set(list1)
set2 = set(list2)

set1.difference(set2)

{1, 2, 3}

Given a dictionary of student names and their marks, find the student who scored the highest marks.

`students = {"John": 80, "Jane": 90, "Jim": 85}`

In [30]:
students = {"John": 80, "Jane": 90, "Jim": 85}

highest_score = max(students.values())

for name, score in students.items():
    if score == highest_score:
        print(name)

Jane