 
<h1 align=center><font size = 5>LISTS  IN PYTHON</font></h1>


## Table of Contents


<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref1">Lists</a></li>
<li><a href="#ref2">Practice Lists</a></li>
<br>

<a id="ref1"></a>
<center><h2>Lists</h2></center>

We are going to take a look at lists in Python. A list is a sequenced collection of different objects such as integers, strings, and other lists as well. The address of each element within a list is called an 'index'. An index is used to access and refer to items within a list.

<a ><img src = "https://ibm.box.com/shared/static/eln445fv5nzv3wlm4u8dnfhbrcrv0hff.png" width = 1000, align = "center"></a>
  <h4 align=center> Representation of a list  
  </h4>

 To create a list, type the list within square brackets **[ ]** and separated by commas. Let’s try it!

In [7]:
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [8]:
my_list = [1, 2, 3, 4]

We can use negative and regular indexing with a list :

 <a ><img src = "https://ibm.box.com/shared/static/a7ac9lnvmcaz29n86ffez4as27fl3n9m.png" width = 1000, align = "center"></a>
  <h4 align=center> Representation of a list  
  </h4>

In [9]:
L[0]

'Michael Jackson'

In [10]:
L[-3]

'Michael Jackson'

In [11]:
L[1]

10.1

In [12]:
L[-2]

10.1

In [13]:
L[2]

1982

In [14]:
L[-1]

1982

In [15]:
print('the same element using negative and positive indexing:\n Postive:', L[0],
      '\n Negative:', L[-3])
print('the same element using negative and positive indexing:\n Postive:', L[1],
      '\n Negative:', L[-2])
print('the same element using negative and positive indexing:\n Postive:', L[2],
      '\n Negative:', L[-1])

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

Lists can contain strings, floats, and integers. We can nest other lists and other data structures. The same indexing conventions apply for nesting:

In [16]:
L = ["Michael Jackson", 10.1, 1982, [1, 2]]

 We can also perform slicing in lists. For example, if we want the last two elements, we use the following command:

In [17]:
L = ["Michael Jackson", 10.1, 1982, "MJ", 1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [18]:
L[3:5]

['MJ', 1]


<a ><img src = "https://ibm.box.com/shared/static/pt3pfp1sg5okwuwwpy0dnj8e94fl2mwy.png" width = 1000, align = "center"></a>
  <h4 align=center> Representation of a list  
  </h4>

We can use the method "extend" to add new elements to the list:

In [19]:
L = ["Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

Another similar method is 'append'. If we apply 'append' instead of 'extend', we add one element to the list:

In [20]:
L = ["Michael Jackson", 10.2]
L.append(['pop', 10, "course", [1, 2, 3]])
L

['Michael Jackson', 10.2, ['pop', 10, 'course', [1, 2, 3]]]

 Each time we apply a method, the list changes. If we apply "extend" we add two new elements to the list. The list **L** is then modified by adding two new elements:

In [21]:
L = ["Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

If we append the list  **['a','b']** we have one new element consisting of a nested list:

In [22]:
L.append(['a', 'b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

As lists are mutable, we can change them. For example, we can change the first element as follows:

In [23]:
A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

 We can also delete an element of a list using the **del** command:

In [24]:
print('Before change:', A)
del (A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]


 We can convert a string to a list using 'split'.  For example, the method **split** translates every group of characters separated by a space into an element in a list:

In [25]:
'hard rock'.split()

['hard', 'rock']

In [26]:
"nasim taba is teaching this course".split()

['nasim', 'taba', 'is', 'teaching', 'this', 'course']

We can use the split function to separate strings on a specific character. We pass the character we would like to split on into the argument, which in this case is a comma.  The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [27]:
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

## Variables and Argument Passing

When assigning a variable (or name) in Pythin, you are creating a reference to the object on the righthand side of the equals sign. Every number, string, data structure, function, class, module, and so on exists in the python interpreter in its own "box", which is referred to as a Python object. Each object has an associated type (e.g., string or function) and internal data. In practice this makes the language very flexible.

 When we set one variable  **B** equal to **A**;  both **A** and **B** are referencing the same list in memory :

In [28]:
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

 <a ><img src = 'https://ibm.box.com/shared/static/7g2u8hqqb4birdwn7m9uir4s9wfj8mko.png' width = 1000, align = "center"></a>

 Initially, the value of the first element in **B** is set as hard rock. If we change the first element in **A**  to 'banana', we get an unexpected side effect.  As **A** and **B ** are referencing the same list, if we change list **A**, then list **B** also changes.  If we check the first element of **B** we get banana instead of hard rock:

In [29]:
print(B)

['hard rock', 10, 1.2]

In [30]:
print(A)

['hard rock', 10, 1.2]

In [31]:
A[0] = 'banana'

In [32]:
print(A)

['banana', 10, 1.2]

In [33]:
print(B)

['banana', 10, 1.2]

This is demonstrated in the following figure:

 <a ><img src = https://ibm.box.com/shared/static/thdu6y5pzh99qpun4tu2fjvj86st0hbu.gif width = 1000, align = "center"></a>

You can clone list  **A** by using  the following syntax:

In [34]:
A = ["hard rock", 10, 1.2]

In [35]:
B = A[:]
B

['hard rock', 10, 1.2]

In [36]:
print(A)

['hard rock', 10, 1.2]

In [37]:
A[0] = "banana"
print(A)

['banana', 10, 1.2]

In [38]:
print(B)

['hard rock', 10, 1.2]

 Variable **B** references a new copy or clone of the original list; this is demonstrated in the following figure:

## Concatenating and Combining lists

You can add two lists with +:

In [39]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

 <a id="ref2"></a>
<center><h2>Practice Lists</h2></center>

#### Create a list 'a_list' , with the following elements 1, “hello”, [1,2,3 ] and True.

In [40]:
a_list = [1, "hello", [1, 2, 3], True]

Double-click __here__ for the solution.
<!-- Your answer is below:
a_list=[1, 'hello', [1,2,3 ] , True]
a_list
-->

####  Find the value stored at index 1 of 'a_list'.

In [41]:
a_list[1]

'hello'


Double-click __here__ for the solution.
<!-- Your answer is below:
a_list[1]
-->

####  Retrieve the elements stored at index 1, 2, and 3 of 'a_list'.

In [42]:
a_list[1:4]

['hello', [1, 2, 3], True]

Double-click __here__ for the solution.
<!-- Your answer is below:
a_list[1:4]
-->

#### 4) Concatenate the following lists A=[1,'a'] and B=[2,1,'d']:

In [43]:
A = [1, 'a']
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

Double-click __here__ for the solution.
<!-- Your answer is below:
A=[1,'a'] 
B=[2, 1,'d']
A + B
-->