

<h1><center>Midterm- CPSC 4800</h2></center>



<h3><center> Python</h3></center>

## Instructions

1. You should answer questions in this Jupyter notebook file and submit the file on D2L.
2. The exam is open book. You can look at all the course materials, labs, solutions, etc on D2L. However, you are not allowed to communicate or receive help from anyone else during the exam. 
3. The work submitted must be your own. Plagiarism and cheating will be dealt with very seriously.
4.	If the instructor realizes that a student cheated during the exam, he/she will receive a grade of zero for the final.

**Warning**: 
By submitting an exam file, you promise that the code you have submitted is your own and you did not communicate with or receive help from anyone else.

| Question | Point |
| --- | --- |
| 1 | 5 |
| 2 | 10 |
| 3 | 10 |
| 4 | 10 |
| 5 |10 |
| 6 | 10 |
| 7 | 10 |
| 8 | 10 |
| 9 | 10 |
|10 | 15 |
| **Total** | **100** |

### Note: Ensure to write brief docstring for your functions

## Question 1

 Suppose you have list of prices for a certain products. Your job is to find the difference between the lowest price product and highest priced product.
#### For example:
#### Input: 25,10,5,30,2
#### Output: 28

In [1]:
my_list = [25, 10, 5, 30, 2]

min_price = min(my_list)
max_price = max(my_list)

print("Difference between the lowest price and the highest price:", max_price - min_price)

Difference between the lowest price and the highest price: 28

## Question 2

You are given a task to create a mask for sending certain message.Write a code that replaces all the odd places in the given message string with * sign.
#### For example
#### input: Python is the best programming language
#### output: P * t * o *

In [2]:
input_text = 'Python is the best programming language'
output_text = ''

for i in range(len(input_text)):
    if i % 2 == 0:
        output_text = output_text + input_text[i]
    else:
        output_text = output_text + "*"

print("Output:", output_text)

Output: P*t*o* *s*t*e*b*s* *r*g*a*m*n* *a*g*a*e

## Question 3

Suppose you have dictionary of employees with employee name and age:

{"Bernita Ahner": 12, "Kristie Marsico": 11, 
                      "Sara Pardee": 14, "Fallon Fabiano": 11, 
                      "Nidia Dominique": 15}

Write a function to find the oldest employee and display his name and age. Also tell how many years are left for retirement if retirement age is 59. Write docstring for your function

**output:**
####              Name = Nidia Dominique
####              Age = 15
####              Years to retirement= 44

In [3]:
my_dict = {"Bernita Ahner": 12, "Kristie Marsico": 11, "Sara Pardee": 14, "Fallon Fabiano": 11, "Nidia Dominique": 15}


def find_oldest(emp_dict):
    """
    This function takes a dictionary of employees with their names and ages, finds the oldest employee, and calculates the years left until their retirement.
    
    Parameters:
    - emp_dict(dict): Dictionary of employees with their names and ages.
    
    Returns:
    - A string containing the name, age and the years left until the retirement of the oldest employee.
    """

    retirement_age = 59

    oldest_person_name = max(emp_dict, key=emp_dict.get)
    oldest_person_age = emp_dict[oldest_person_name]
    years_left = retirement_age - oldest_person_age

    return f"Name: {oldest_person_name}, Age: {oldest_person_age}, Years Left: {years_left}"


find_oldest(my_dict)

'Name: Nidia Dominique, Age: 15, Years Left: 44'

## Question 4

Given the list:

```
my_list = ["course_1", "course_2", ["programming", ["python", "SAS", "R"]]]
```

Write the code that would index into the list and return the sublist ["SAS", "R"].

In [4]:
my_list_1 = ["course_1", "course_2", ["programming", ["python", "SAS", "R"]]]

new_list = my_list_1[2][1][1:]

new_list

['SAS', 'R']

## Question 5

Using python indexing, change key_3  **Gaby** to **Raymon** in the below data structure

In [5]:
my_dictionary = [{'id': '1234', 'key_1': {'key_2': 'Jason', 'key_3': 'Smith'}},
                 {'id': '2345', 'key_1': {'key_2': 'Tom', 'key_3': 'Albert'}},
                 {'id': '3456', 'key_1': {'key_2': 'Martin', 'key_3': 'Arts'}},
                 {'id': '6789', 'key_1': {'key_2': 'Julie', 'key_3': 'Gaby'}}]

my_dictionary[3]['key_1']['key_3'] = 'Raymon'

my_dictionary

[{'id': '1234', 'key_1': {'key_2': 'Jason', 'key_3': 'Smith'}},
 {'id': '2345', 'key_1': {'key_2': 'Tom', 'key_3': 'Albert'}},
 {'id': '3456', 'key_1': {'key_2': 'Martin', 'key_3': 'Arts'}},
 {'id': '6789', 'key_1': {'key_2': 'Julie', 'key_3': 'Raymon'}}]

## Question 6

Write a function order_numbers that compares two numbers and return them in the increasing order. Write docstring for your function. Test out your function per the expected output.

Expected output:

```
order_numbers(10, 5)
(5, 10)
```

In [6]:
def order_numbers(n1, n2):
    """
    This function compares two numbers and returns them in increasing order.
    
    Parameters: 
        - n1(int) 
        - n2(int)
    
    Returns: 
        - A list of the two numbers in ascending order.
    """

    if n1 > n2:
        return [n2, n1]

    return [n1, n2]


order_numbers(10, 5)

[5, 10]

## Question 7

Write a function countChar that takes as its arguments two strings, s and c, and return the number of times the character c occurs in the string s. we wiil assume that c is always a string of length 1 (a single character). Here are some samples calls to this fucntion with the correct output given:

```
>> countChar("HELLO", "L")
2
>>countChar ("hello", "m")
0
>> countChar("", "L")
0
```

To get the full points, you will need to write a nice docstring above the function that briefly describes what the funciton does and what its inputs and outputs are. You should also test your function according to all the above examples.

In [7]:
def count_char(s, c):
    """
    This function takes two strings and returns frequency of the character c in string s.
    
    Parameters:
        - s(str): The string to search for occurrences of the character c.
        - c(str): Character to count occurrences of in the string s.
    
    Returns:
        A string containing the number of occurrences of the character c in the string s.
    """

    count_list = [char for char in s if char == c]

    return f"Occurrence of letter '{c}' in word '{s}' is: {len(count_list)}"


count_char("hello", "l")

"Occurrence of letter 'l' in word 'hello' is: 2"

## Question 8

Write a function that takes a list of numbers as its argument and return the average of the numbers.

Here are some samples calls to this function with the correct output given:

```
>> average([1, 2, 3, 4, 5, 6])
3.5
>> average([10, 20, 30])
20.0
```

To get the full points, you will need to write a nice docstring above the function that briefly describes what the
function does and what its inputs and outputs are. You should also test your function according to all the above examples.

In [8]:
def average(num_list):
    """
    This function takes in a list of numbers(num_list) and returns average of the numbers in the list. 
    
    Parameters: 
        - num_list(list): A list of numbers.
    
    Returns: 
        - A string containing the average of the numbers in the list.
    """

    count = len(num_list)
    total = sum(num_list)

    avg = total / count

    return f"The average is: {avg}"


average([1, 2, 3, 4, 5, 6])

'The average is: 3.5'

In [9]:
average([10, 20, 30])

'The average is: 20.0'

## Question 9

Go through all the numbers up until 20 (including 20). Print "your name" for every number that’s divisible by 3, print your family name for every number divisible by 5, and print 'python' for every number divisible by 3 and by 5! If the number is not divisible either by 3 or 5, print a dash ('-')!

In [10]:
for i in range(1, 21):
    if i % 3 == 0 and i % 5 == 0:
        print("python")
    elif i % 3 == 0:
        print("roman")
    elif i % 5 == 0:
        print("shrestha")
    else:
        print("-")

-
-
roman
-
shrestha
roman
-
-
roman
shrestha
-
roman
-
-
python
-
-
roman
-
shrestha

## Question 10

- Import the  necesary libraries and read the csv file weatherHistory.csv
- Print the head of the dataframe
- Print the complete infomation of data  (summary of the dataframe)
- Which type of Weather has the maximum count in the dataset? (Weather type column is the summary column in the dataset)
- What is the standard deviation of the wind speed?
- Out of all the available records which date/dates has/have the lowest  humidity?
- Out of all records how many records are equal to the median value of Apparent Temperature?
- Which year has the highest average temperature?

In [11]:
# Import the necessary libraries and read the csv file weatherHistory.csv
import pandas as pd

weather_df = pd.read_csv("weatherHistory (1).csv")

In [12]:
# Print the head of the dataframe
weather_df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [13]:
# Print the complete information of data
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [14]:
# Which type of Weather has the maximum count in the dataset?
weather_type_max = weather_df["Summary"][weather_df["Summary"].value_counts().max()]

print("Weather Type with max count is:", weather_type_max)

Weather Type with max count is: Partly Cloudy

In [15]:
# What is the standard deviation of the wind speed?
sd_wind = weather_df["Wind Speed (km/h)"].std()

print(f"Standard Deviation of the wind speed is: {sd_wind:.2f}")

Standard Deviation of the wind speed is: 6.91

In [16]:
# Out of all the available records which date/dates has/have the lowest humidity?
low_humid = weather_df[weather_df["Humidity"] == weather_df["Humidity"].min()]["Formatted Date"]

print("Dates with lowest humidity are:\n", low_humid)

Dates with lowest humidity are:
 19958    2008-02-17 14:00:00.000 +0100
28101    2009-12-20 21:00:00.000 +0100
28103    2009-12-20 23:00:00.000 +0100
28110    2009-12-21 06:00:00.000 +0100
29627    2009-01-25 11:00:00.000 +0100
54840    2012-02-10 00:00:00.000 +0100
54858    2012-02-10 18:00:00.000 +0100
54870    2012-02-11 06:00:00.000 +0100
54872    2012-02-11 08:00:00.000 +0100
54873    2012-02-11 09:00:00.000 +0100
55086    2012-02-02 06:00:00.000 +0100
55088    2012-02-02 08:00:00.000 +0100
55349    2012-02-03 05:00:00.000 +0100
55350    2012-02-03 06:00:00.000 +0100
55352    2012-02-03 08:00:00.000 +0100
55412    2012-02-05 20:00:00.000 +0100
55469    2012-02-08 05:00:00.000 +0100
55472    2012-02-08 08:00:00.000 +0100
55473    2012-02-08 09:00:00.000 +0100
55481    2012-02-08 17:00:00.000 +0100
55508    2012-02-09 20:00:00.000 +0100
55511    2012-02-09 23:00:00.000 +0100
Name: Formatted Date, dtype: object

In [17]:
# Out of all records how many records are equal to the median value of Apparent Temperature?
equal_temp = weather_df[weather_df["Apparent Temperature (C)"] == weather_df["Apparent Temperature (C)"].median()]
equal_temp_count = equal_temp.count()[0]

print("Number of records with Apparent Temperature equal to 'median' Apparent Temperature is:", equal_temp_count)

Number of records with Apparent Temperature equal to 'median' Apparent Temperature is: 19

In [18]:
# Which year has the highest average temperature?
date_df = weather_df.groupby("Formatted Date")

avg_temp_df = date_df["Temperature (C)"].mean()

highest_avg_temp = avg_temp_df[avg_temp_df == avg_temp_df.max()]

year = highest_avg_temp.index[0].split("-")[0]

print("The year with the highest average temperature is:", year)

The year with the highest average temperature is: 2007

In [42]:
weather_df['Year'] = weather_df['Formatted Date'].str[:4] # Get year from formatted date

avg_temp_by_year = weather_df.groupby('Year')['Temperature (C)'].mean() # Group by year then get the mean of temperature

highest_year = avg_temp_by_year.idxmax() # Get the year with the highest mean
print("The year with the highest average temperature is:", highest_year)

## Another way to do it
# highest_avg_temp_df = avg_temp_by_year[avg_temp_by_year == avg_temp_by_year.max()]
# highest_year_temp = highest_avg_temp.index.tolist()[0]
# print("The year with the highest average temperature is:", highest_year_temp)

The year with the highest average temperature is: 2014
The year with the highest average temperature is: 2014