# Operations

There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [1]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [2]:
df.reset_index()

   index  col1  col2 col3
0      0     1   444  abc
1      1     2   555  def
2      2     3   666  ghi
3      3     4   444  xyz

In [3]:
df.set_index('col1')

      col2 col3
col1
1      444  abc
2      555  def
3      666  ghi
4      444  xyz

### Info on Unique Values

In [4]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

In [5]:
df['col2'].nunique()

3

In [6]:
df['col2'].value_counts()

col2
444    2
555    1
666    1
Name: count, dtype: int64

### Selecting Data

In [7]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1'] > 2) & (df['col2'] == 444)]

In [8]:
newdf

   col1  col2 col3
3     4   444  xyz

**Permanently Removing a Column**

In [9]:
del df['col1']

In [10]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

**Get column and index names:**

In [11]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [12]:
df.index

RangeIndex(start=0, stop=4, step=1)

**Sorting and Ordering a DataFrame:**

In [13]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [14]:
df.sort_values(by='col2', ascending = False)

   col2 col3
2   666  ghi
1   555  def
0   444  abc
3   444  xyz

In [15]:
df.sort_values(by='col2', ascending = False) #inplace=False by default

   col2 col3
2   666  ghi
1   555  def
0   444  abc
3   444  xyz

**Find Null Values or Check for Null Values**

In [16]:
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [17]:
# Drop rows with NaN Values
df.dropna()

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

**Filling in NaN values with something else:**

In [18]:
import numpy as np

In [19]:
df = pd.DataFrame({'col1':[1, 2, 3, np.nan],
                   'col2':[np.nan, 555, 666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [20]:
df.fillna('FILL')

   col1   col2 col3
0   1.0   FILL  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3  FILL  444.0  xyz

In [21]:
df.isnull().sum()

col1    1
col2    1
col3    0
dtype: int64