# Groupby

The groupby method allows you to group rows of data together and call aggregate functions

In [19]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOGLE','GOOGLE','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200, 120, 340, 124, 243, 350]
       }

In [20]:
df = pd.DataFrame(data)

In [21]:
df

  Company   Person  Sales
0  GOOGLE      Sam    200
1  GOOGLE  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

Return a Series containing counts of unique values.

In [22]:
df['Company'].value_counts()

Company
GOOGLE    2
MSFT      2
FB        2
Name: count, dtype: int64

In [23]:
df.describe()

            Sales
count    6.000000
mean   229.500000
std    100.899455
min    120.000000
25%    143.000000
50%    221.500000
75%    315.750000
max    350.000000

**Now you can use the .groupby() method to group rows together based off of a column name. For instance let's group based off of Company. This will create a DataFrameGroupBy object:**

In [24]:
df.groupby('Company')

You can save this object as a new variable:

In [27]:
by_comp = df.groupby('Company')

And then call aggregate methods off the object:

In [28]:
by_comp.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [29]:
df.groupby('Company').mean()

TypeError: agg function failed [how->mean,dtype->object]

More examples of aggregate methods:

In [30]:
by_comp.std()

ValueError: could not convert string to float: 'Sam'

In [31]:
by_comp.min()

          Person  Sales
Company
FB          Carl    243
GOOGLE   Charlie    120
MSFT         Amy    124

In [32]:
by_comp.max()

          Person  Sales
Company
FB         Sarah    350
GOOGLE       Sam    200
MSFT     Vanessa    340

In [33]:
by_comp.count()

         Person  Sales
Company
FB            2      2
GOOGLE        2      2
MSFT          2      2

In [34]:
by_comp.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOGLE    2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [35]:
by_comp.describe().transpose()['GOOGLE']

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOGLE, dtype: float64

In [36]:
by_comp.describe().transpose()['GOOGLE']

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOGLE, dtype: float64

# Data Input and Output

Pandas can read a variety of file types using its pd.read_ methods. Let's take a look at the most common data types:

## CSV

### CSV Input

In [37]:
pd.read_csv("example1.csv")

  Company   Person  Sales
0  GOOGLE      Sam    200
1  GOOGLE  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [46]:
df = pd.read_csv("example1.csv")

In [39]:
df.to_csv("example2.csv")

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [44]:
df = pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Excel Output

In [45]:
df.to_excel('Excel_Sample2.xlsx', sheet_name='Sheet1')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15